/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    chosen {
        zmk,physical_layout = &dao_crkbd_layout;

        // zmk,physical_layout = &dao_full_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "MAIN";
            bindings = <
&kp ESCAPE      &kp Q  &kp W  &kp F         &kp P  &kp G        &kp Y        &kp U  &kp I          &kp O    &kp P     &kp LBKT
&kp TAB         &kp A  &kp R  &kp S         &kp T  &kp D        &kp H        &kp J  &kp K          &kp L    &kp SEMI  &mt RCTRL SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N        &kp M  &kp COMMA      &kp DOT  &kp FSLH  &mt RALT BSLH
                              &kp LEFT_ALT  &mo 0  &lt 0 SPACE  &lt 0 ENTER  &mo 0  &kp RIGHT_GUI
            >;
        };

        Shortcuts {
            bindings = <
&trans  &kp LC(Q)  &kp LC(W)  &kp LC(F)  &kp LC(P)  &kp LC(G)  &none      &kp LG(L)  &none      &none      &kp LC(LA(DEL))  &trans
&trans  &kp LC(A)  &kp LC(R)  &kp LC(S)  &kp LC(T)  &kp LC(D)  &kp LC(H)  &kp LC(N)  &kp LC(E)  &kp LC(I)  &kp LC(O)        &trans
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(B)  &none      &none      &none      &none      &none            &trans
                              &trans     &trans     &trans     &trans     &trans     &trans
            >;
        };

        Media_Nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &none   &kp PG_UP  &trans  &trans  &none   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans     &none   &trans  &none   &trans
                        &trans  &trans  &trans  &trans  &trans     &trans
            >;
        };

        Fn_Num {
            bindings = <
&trans  &kp F1   &kp F2    &kp F3     &kp F4    &kp F5   &kp EQUAL  &kp N7   &kp N8  &kp N9  &kp MINUS  &trans
&trans  &kp F6   &kp F7    &kp F8     &kp F9    &kp F10  &kp STAR   &kp N4   &kp N5  &kp N6  &kp PLUS   &kp DEL
&trans  &kp F11  &kp LGUI  &kp LCTRL  &kp LALT  &kp F12  &kp FSLH   &kp N1   &kp N2  &kp N3  &kp RET    &trans
                           &trans     &trans    &trans   &trans     &kp DOT  &kp N0
            >;
        };

        Sym_Special {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
